**/bin/
**/obj/

.git/
.vs/
.vscode/

FE/
scratch/

README.md

**/*.user
**/*.suo
**/*.rsuser
**/*.userosscache
**/*.sln.docstates

**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
**/.env
**/.secrets.json

**/*.log
**/logs/
**/temp/
**/tmp/